@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.HeaderPrincipal {
  height: 10.5vh;
  background-color: #141414;
  border-bottom: 4px solid #1c1c20fb;
}
.tittleSeccion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.9rem;
  letter-spacing: 1.5px;
  width: 15%;
  margin-left: 3rem !important;
  gap: 10px;
  /* border: 1px solid white; */
}
.tittleSeccion:hover {
  color: white;
}
.cajaUsuarioRegistrado {
  /* border: 1px solid white; */
  width: 15rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 20rem; */
}
.cajaFotoUsuario {
  height: 100%;
  border-radius: 50%;
  /* border: 1px solid saddlebrown; */
}
.cajaNombreUsuario {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nombreUsuario {
  color: white;
  margin: 0 !important;
  font-family: "DM Sans", sans-serif;
}
.tipoDeCargo {
  color: #9dbb2f;
  transition: 0.2s;
}
.tipoDeCargo:hover {
  color: rgb(218, 216, 216);
}
.btn-close {
  background-image: none;
  background-image: url(../Image/HEADER/buttonClose.png);
}
.navbar-toggler {
  border: 1px solid #313246;
  margin-right: 0.5rem !important;
  padding: 2.5px 8px !important;
}
.navbar-toggler-icon {
  background-image: none;
  background-image: url(../Image/HEADER/botonHamburguesa2.png);
}
#offcanvasNavbar-expand-false {
  background-color: #1c1c20;
  width: 20rem;
}
.offcanvas-header {
  /* border: 1px solid white; */
  height: 10%;
  padding-right: 0.5rem !important;
}
.menuHeaderLateral {
  color: #9dbb2f;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  margin-left: 5.2rem !important;
  cursor: pointer;
}
.bodyNavBar {
  /* border: 1px solid saddlebrown; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .cajaBotonesDeSecciones {
  border: 1px solid red;
} */
.linkDeSeccion {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  padding: 20px !important;
  transition: 0.2s;
  /* border: 1px solid springgreen; */
}
.linkDeSeccion:hover {
  color: #9dbb2f;
}
.tittleSeccionNavBar {
  margin: 0 !important;
  margin-left: 0.5rem !important;
}
.cajaBotonCerrarSesion {
  /* border: 1px solid salmon; */
  margin-bottom: 1rem !important;
}
