* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainProducts {
  /* background-color: #100f21; */
  background-color: #141414;
  height: 89.5vh;
  display: flex;
  flex-direction: column;
}
.cajaDeFiltro {
  position: relative;
  width: 250px;
  height: 2.5rem;
  margin-top: 1rem;
  margin-left: 4.7rem;
  font-family: "DM Sans", sans-serif;
  /* border: 1px solid red; */
}
#inputSearchProduct {
  width: 100%;
  height: 100%;
  padding: 7px 10px 0px 13.5px;
  /* background: #100f21; */
  background: #141414;
  border: 1px solid #1c1c20fb;
  /* border: 1px solid rgba(128, 128, 128, 0.212); */
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 16.5px;
}
.spanInputSearch {
  position: absolute;
  left: 0;
  padding: 7px 10px 10px 10px;
  pointer-events: none;
  font-size: 1rem;
  color: gray;
  transition: 0.5s;
}

#inputSearchProduct:valid ~ .spanInputSearch,
#inputSearchProduct:focus ~ .spanInputSearch {
  color: #9dbb2f;
  transform: translateX(15px) translateY(-7px);
  padding: 0 20px;
  font-size: 14px;
  background: #141414;
  border-left: 1px solid #1c1c20fb;
  border-right: 1px solid #1c1c20fb;
  letter-spacing: 1px;
}

.cajaMostrarProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 89%;
  height: 32rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  /* background-color: #1b1c30; */
  background-color: #1c1c20fb;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 1rem;
  gap: 2rem;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #9dbb2f;
  border-radius: 3px;

}