* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainProducts {
  background-color: #141414;
  height: 89.5vh;
  display: flex;
  flex-direction: column;
}
.divCajaInputBuscarBotonAdd {
  /* border: 1px solid seagreen; */
  display: flex;
  justify-content: space-around;
  align-items: center !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
}
.cajaDeFiltro {
  position: relative;
  width: 250px;
  height: 2.5rem;
  font-family: "DM Sans", sans-serif;
  /* border: 1px solid red; */
}
#inputSearchProduct {
  width: 100%;
  height: 100%;
  padding: 7px 10px 0px 13.5px !important;
  background: #141414;
  border: 1px solid #2e2e35fb;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 16.5px;
}
.spanInputSearch {
  position: absolute;
  left: 0;
  padding: 7px 10px 10px 10px !important;
  pointer-events: none;
  font-size: 1rem;
  color: gray;
  transition: 0.5s;
}

#inputSearchProduct:valid ~ .spanInputSearch,
#inputSearchProduct:focus ~ .spanInputSearch {
  color: #9dbb2f;
  transform: translateX(15px) translateY(-7px);
  padding: 0 20px !important;
  font-size: 14px;
  background: #141414;
  border-left: 1px solid #2e2e35fb;
  border-right: 1px solid #2e2e35fb;
  letter-spacing: 1px;
}
.botonAgregarProducto {
  background-color: #c9ff05;
  border: none;
  font-family: "DM Sans", sans-serif;
  padding: 7px 10px !important;
  border-radius: 5px;
  transition: 0.2s;
  letter-spacing: 0.5px;
}
.botonAgregarProducto:hover {
  background-color: #819b25;
  color: white;
}
#modalAddProducto {
  margin: 0 auto !important;
  margin-top: 2rem !important;
}
.modalHeaderAddProducto {
  background-color: #141414;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  display: flex;
  padding-right: 8px !important;
  padding-left: 10.5rem !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #484855fb;
  letter-spacing: 1px;
  color: #9dbb2f;
  text-align: center;
}
.modalBodyAddProducto {
  background-color: #141414;
  color: white;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalBodyAddProducto form {
  /* border: 1px solid red; */
  width: 90%;
}

.cajaInputModalNombreProducto {
  text-align: center;
  margin-bottom: 1.5rem !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff; /* Cambia el color del texto al color deseado */
  transition: background-color 5000s ease-in-out 0s; /* Evita el cambio de fondo a blanco durante 5 segundos */
}
.inputModalNameProducto {
  width: 80%;
  height: 100%;
  padding: 14px 10px 7px 13.5px !important;
  background: #141414;
  border: 1px solid #484855fb;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
}
.spanModalNameProducto {
  position: absolute;
  left: 15% !important;
  padding: 9px 12px !important;
  pointer-events: none;
  font-size: 1rem;
  color: white;
  transition: 0.5s;
}
.inputModalNameProducto:valid ~ .spanModalNameProducto,
.inputModalNameProducto:focus ~ .spanModalNameProducto {
  color: #9dbb2f;
  transform: translateX(15px) translateY(-7px);
  padding: 0px 10px !important;
  font-size: 14px;
  background: #141414;
  border-left: 1px solid #484855fb;
  border-right: 1px solid #484855fb;
  letter-spacing: 1px;
}
.modalFooterAddProducto {
  display: flex !important;
  justify-content: center !important;
  border-radius: 0%;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  gap: 20px;
}
.cerrarModalAddProducto {
  border: none;
  background-color: #484855fb;
  padding: 4px 7px !important;
  border-radius: 2px;
  font-size: 1rem;
  color: white;
  transition: 0.2s;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.8px;
}
.cerrarModalAddProducto:hover {
  color: white;
  background-color: red;
}
.añadirModalAddProducto {
  border: none;
  background-color: #484855fb;
  padding: 4px 7px !important;
  border-radius: 2px;
  font-size: 1rem;
  color: white;
  transition: 0.2s;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.8px;
}
.añadirModalAddProducto:hover {
  color: #141414;
  background-color: #c9ff05;
}
/* ::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #9dbb2f;
  border-radius: 3px;
}  */
@media (min-width: 360px) and (max-width: 914px) {
  .divCajaInputBuscarBotonAdd {
    /* border: 1px solid saddlebrown; */
    flex-direction: column;
  }
  .cajaDeFiltro {
    /* border: 1px solid wheat; */
    width: 90%;
  }
  #inputSearchProduct {
    width: 100%;
  }
  .botonAgregarProducto {
    padding: 7px 25px !important;
    font-size: 1rem;
    margin-top: 2rem !important;
  }
}
